#table {
    width: 100%;
    border: 1px solid lightgray;
}

td {
    padding-left: 5px;
    height: 2rem;
}

#imgUser {
    width: 150px;
    height: 150px;
}

#btn-ulozit {
    width: 150px;
}

.bg-container {
    background-color: #00386B;
}